<%= link_to 'Voltar - Home', root_path %>
<br>
<%= link_to 'Registrar uma promoção', new_promotion_path %>
<hr>

<% if @promotions.empty? %>
  <h3>Nenhuma promoção cadastrada</h3>
<% else %>
  <%= form_with url: search_promotions_path, method: :get do |form| %>
    <%= form.label :q, 'Busca' %>
    <%= form.text_field :q %>
    <%= form.submit 'Buscar' %>
  <% end %>

  <%= render partial: "results", locals: {promotions: @promotions} %>
<% end %>