<%= link_to 'Voltar - Promoções', promotions_path %>
<hr>

<h3><%= @promotion.name %></h3>
<br>
<p><%= @promotion.description %></p>

<dl>
    <dt><%= Promotion.human_attribute_name(:code) %>></dt>
    <dd><%= @promotion.code %></dd>
    <br>
    <dt><%= Promotion.human_attribute_name(:discount_rate) %></dt>
    <dd><%= number_to_percentage @promotion.discount_rate, precision: 2 %></dd>
    <br>
    <dt><%= Promotion.human_attribute_name(:expiration_date) %></dt>
    <dd><%= l @promotion.expiration_date %></dd>
    <br>
    <dt><%= Promotion.human_attribute_name(:coupon_quantity) %></dt>
    <dd><%= @promotion.coupon_quantity %></dd>
</dl>

<% if @promotion.approved? %>
  <p>Aprovada por: <%= @promotion.approval.email %></p>
  <br>
  <% if @promotion.coupons.empty? %>
    <%= link_to t('.generate_coupons'), coupons_path(id: @promotion), method: :post %>
  <% end %>
<% elsif @promotion.can_approve?(current_user) %>
  <%= link_to 'Aprovar', approve_promotion_path(@promotion), method: :post, data: { confirm: 'O ato de aprovar promoção não pode ser desfeito, deseja continuar?' } %>
<% end %>
<br>
<%= link_to 'Editar - Promoção', edit_promotion_path(@promotion) %>
<br>
<%= link_to 'Excluir - Promoção', promotion_path(@promotion), method: :delete %>
<br>



<% @promotion.coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.code.parameterize %>">
        <p>
          <%= coupon.code %> (<%= Coupon.human_attribute_name("status.#{coupon.status}") %>)
        </p>
        <% if coupon.enabled? %>
          <%= link_to 'Desabilitar', disable_coupon_path(coupon), method: :post, data: { disable_with: 'Estamos desabilitando....' } %>
        <% else %>
          <%= link_to 'Habilitar', enable_coupon_path(coupon), method: :post, data: { enable_with: 'Estamos habilitando....' } %>
        <% end %>
    </div>
<% end %>